body{
    background-color: rgb(85, 95, 80);
    color: white;
}
header#cabecalho{
    background-color: rgb(90 100 85);
    border-bottom: 2px solid rgba(0, 0, 0, .5);
    color: rgba(255, 255, 255, .8);
    text-align: center;
    padding-top: 10px;
    margin-top: -10px;
    margin-bottom: 10px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, .5);
    /* box-shadow: rgba(0, 0, 0, .7); */
}
#areaverde{
    margin: auto;
    width: 650px;
    height: 450px;
    background-color: rgb(100, 170, 55);
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .7);
}
#linhaexterna{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    width: 550px;
    height: 375px;
    display: flex;
    background-color: rgb(75, 155, 25);
    border: solid 2px white;
}
#campoesq{
    display: flex;
    height: 375px;

}
#campodir{
    height: 375px;
    display: flex;
    margin-left: auto;
    display: flex;
}
#grandeareaesq{
    width: 85px;
    height: 205px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, .15);
    display: flex;
    border: solid white 2px;
    border-left: transparent ;
}
#pequenaareaesq{
    width: 30px;
    height: 85px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    background-color: rgba(0, 0, 0, .15);
    border: solid white 2px;
    border-left: transparent;
}
#pequenaareaesq:before{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 200%;
    transform: translate(-50%,-50%);
    background-color: white;
}
#grandeareadir{
    width: 85px;
    height: 205px;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    margin-left: auto;
    background-color: rgba(0, 0, 0, .15);
    display: flex;
    border: solid white 2px;
    border-right: transparent;
}
#pequenaareadir{
    width: 30px;
    height: 85px;
    position: relative;
    top: 50%;
    left: 100%;
    transform: translate(-100%,-50%);
    margin-right: 0%;
    background-color: rgba(0, 0, 0, .15);
    border: solid white 2px;
    border-right: transparent;
}
#pequenaareadir:before{
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 200%;
    transform: translate(50%,-50%);
    background-color: white;
}
#circulocentral{
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .15);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border: solid white 2px;
}
#areacentral{
    margin-left: auto;
    display: flex;
}
#linhacentral{
    width: 1px;
    height: 375px;
    position: relative;
    left: -50%;
    background-color: white;
}
#linhacorrecao{
    width: 1px;
    height: 375px;
    position: relative;       
    right: -50%;
    z-index: 1;
    background-color: white;
}
#bolacentral{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
}
#meialuaesq{
    width: 91px;
    height: 91px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
    
}
#meialuaesq:before{
    background-color: rgba(0, 0, 0, .3);
    content: "";
    position: absolute;
    top: 50%;
    left: -66%;
    transform: translateY(-50%);
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: solid white 2px;
}
#meialuadir{
    width: 91px;
    height: 91px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}
#meialuadir:before{
    background-color: rgba(0, 0, 0, .3);
    content: "";
    position: absolute;
    top: 50%;
    right: -66%;
    transform: translateY(-50%);
    height: 90px;
    width: 90px;
    border-radius: 50%;
    border: solid white 2px;
}
#corneresqtop{
    border: solid white 2px;
    width: 8px;
    height: 8px;
    position: absolute;
    border-bottom-right-radius: 100%;
    border-left: hidden;
    border-top: hidden;
}
#corneresqbot{
    border: solid white 2px;
    width: 8px;
    height: 8px;
    position: absolute;
    border-top-right-radius: 100%;
    border-left: hidden;
    border-bottom: hidden;
    bottom: 0px;
}
#cornerdirtop{
    border: solid white 2px;
    width: 8px;
    height: 8px;
    position: absolute;
    border-bottom-left-radius: 100%;
    border-right: hidden;
    border-top: hidden;
    right: 0px;
}
#cornerdirbot{
    border: solid white 2px;
    width: 8px;
    height: 8px;
    position: absolute;
    border-top-left-radius: 100%;
    border-right: hidden;
    border-bottom: hidden;
    bottom: 0px;
    right: 0px;
}
#golesq{
    width: 15px;
    height: 35px;
    border: solid white 2px;
    position: absolute;
    border-right: hidden;
    top: 50%;
    transform: translate(-100%,-50%);
}
#goldir{
    width: 15px;
    height: 35px;
    border: solid white 2px;
    position: absolute;
    border-left: hidden;
    top: 50%;
    left: 100%;
    transform: translate(0%,-50%);
}
#listra1{
    width: 10%;
    height: 375px;
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    left: 5%;
}
#listra2{
    width: 10%;
    height: 375px;
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    left: 25%;
}
#listra3{
    width: 10%;
    height: 375px;
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    left: 45%;
}
#listra4{
    width: 10%;
    height: 375px;
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    left: 65%;
}
#listra5{
    width: 10%;
    height: 375px;
    background-color: rgba(0, 0, 0, .1);
    position: absolute;
    left: 85%;
}
footer{
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, .9);
}